# This points to the handful of packages that gpuimogen needs in order to build gpu and mpi parallel support. They should be set as appropriate for your system.

#ACISS
MATLAB_DIR = /usr/local/packages/MATLAB/R2012b
CUDA_DIR   = /usr/local/packages/cuda/4.0
MPI_DIR    = /usr/local/packages/openmpi/1.4_gcc-4.4-tm
PGW_DIR    = /home2/ekeever1/parallel-gateway/build

#Generic
#MATLAB_DIR= /opt/Matlab/R2012a
#CUDA_DIR  = /usr/local/cuda
#MPI_DIR   = /home/erik/ompi
#PGW_DIR   = /home/erik/parallel-gateway/build

# Depending on version of Teslas installed: either lib64/sm_20 or lib32/sm_13
CUDA_LDIR = lib64
CUDA_ARCH = sm_20


